.button-wrap {
  button {
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 0 2px 12px rgba(0,0,0,.4);
    box-shadow: 0 2px 12px rgba(110,170,216,.4);
    color: #6eaad8;
    height: 70px;
    width: 70px;
  }
}

.cs-main-container {
  box-shadow: 0 2px 12px rgba(0,0,0,.4);
  box-shadow: 0 2px 12px rgba(110,170,216,.4);
}