.chat-wrapper {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  @media (min-width: 769px) {
    bottom:60px;
    right: 40px;
    width: 400px;
    height: 607px;
  }

  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 5px;
  display: block;

  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;

  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;

  .chat-frame {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;

    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;

    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
  }

  &.minimised {
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;

    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;

    width: 90px;
    height: 90px;
    border: none;

    @media (max-width: 768px) {
      bottom: 60px;
      right: 40px;
    }

    .chat-frame {
      width: 90px;
      height: 90px;
      border-radius: 20px;
      border: none;

      -webkit-transition: width 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;

      -webkit-transition: height 0.3s ease-in-out;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;

      button.toggle {
        opacity: 1;
        filter: brightness(150%);
      }
    }
  }
}

