.chat-wrapper {
  z-index: 9999;
  position: absolute;
  bottom:80px;
  right: 40px;
  box-sizing: border-box;
  width: 400px;
  height: 607px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;

  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;

  .chat-frame {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;

    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;

    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
  }

  &.minimised {
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;

    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;

    width: 90px;
    height: 90px;
    border: none;

    .chat-frame {
      width: 90px;
      height: 90px;
      border-radius: 20px;

      border: 1px solid #ccc;

      -webkit-transition: width 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
  
      -webkit-transition: height 0.3s ease-in-out;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;

      .button-wrap {
        background-color: brown;
      }
    }
  }
}

